@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white dark:bg-gray-800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.about_height {
  /* height of the screen minus the height of the footer and the navbar */
  height: calc(100vh - 138px);
}

.frequency_height {
  height: calc(100vh - 338px);
}

@media screen and (min-width: 768px) {
  .frequency_height {
    height: calc(100vh - 162px);
  }
}
